<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Video Induksi CMS</title>

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/theme/images/icon-pama.png">

    <!-- Custom Stylesheet -->
    <link href="~/theme/css/style.css" rel="stylesheet">
    
    <!-- Datatable -->
    <link href="~/theme/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CleanArchitecture.styles.css" asp-append-version="true" />


    @await RenderSectionAsync("Styles", required: false)
</head>

<body data-baseurlapi="/api">
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="/">
                    <b class="logo-abbr text-white text-center">
                        CMS
                    </b>
                    <span class="logo-compact text-white text-center">CMS</span>
                    <div class="brand-title text-center text-white" style="font-size: 1.2rem;">
                        Video Induksi CMS
                    </div>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content clearfix">

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="~/theme/images/user/form-user.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="/Profile"><i class="icon-user"></i>
                                                <span>Profile</span></a>
                                        </li>

                                        <hr class="my-2">
                                        <li><a href="javascript:void(0);" onclick="logout()"><i class="icon-key"></i> <span>Logout</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->


        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Menu</li>
                    <li>
                        <a href="/" aria-expanded="false">
                            <i class="menu-icon fa fa-tachometer"></i><span class="nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Media" aria-expanded="false">
                            <i class="menu-icon fa fa-image"></i><span class="nav-text">Media</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Signage" aria-expanded="false">
                            <i class="menu-icon fa fa-list"></i><span class="nav-text">Signage</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Template" aria-expanded="false">
                            <i class="menu-icon fa fa-file"></i><span class="nav-text">Template</span>
                        </a>
                    </li>
                    <li>
                        <a href="/PlayerGroup" aria-expanded="false">
                            <i class="menu-icon fa fa-desktop"></i><span class="nav-text">Player Group</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Player" aria-expanded="false">
                            <i class="menu-icon fa fa-desktop"></i><span class="nav-text">Player</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Publish" aria-expanded="false">
                            <i class="menu-icon fa fa-eye"></i><span class="nav-text">Publish</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Profile" aria-expanded="false">
                            <i class="menu-icon fa fa-user"></i><span class="nav-text">Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="/License" aria-expanded="false">
                            <i class="menu-icon fa fa-list"></i><span class="nav-text">License</span>
                        </a>
                    </li>
                    <li>
                        <a href="/DisplayTablet" aria-expanded="false">
                            <i class="menu-icon fa fa-tablet"></i><span class="nav-text">Display Tablet</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        @if (@ViewData["Title"] != null)
                        {
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">@ViewData["Title"]</a></li>
                        }
                    </ol>
                </div>
            </div>

            <div class="container-fluid mt-3">
                @RenderBody()
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>
                    Copyright &copy; Developed by <a href="javascript:void(0);">Bio Experience</a> @DateTime.Now.Year
                </p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!-- Jquery Core Js -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>


    <!-- Core JS -->
    <script src="~/theme/plugins/common/common.min.js"></script>
    <script src="~/theme/js/custom.min.js"></script>
    <script src="~/theme/js/settings.js"></script>
    <script src="~/theme/js/gleek.js"></script>
    <script src="~/theme/js/styleSwitcher.js"></script>

    <!-- DataTables -->    
    <script src="~/theme/plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="~/theme/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>

    <!-- Additional JS -->    
    <script src="~/js/sweetalert.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>