@page
@model CleanArchitecture.Frontend.Pages.Player.Index

<div class="row mb-2">
    <div class="col-12 text-right">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalShow">
            <i class="fa fa-plus"></i> Create
        </button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="text-muted text-title pt-2">List @ViewData["Title"]</h3>
            </div>
            <div class="card-body py-0">
                <div class="table-responsive">
                    <table class="table table-bordered zero-configuration">
                        <thead>
                            <tr>
                                <th width="5%" class="text-center">No</th>
                                <th>Player Name</th>
                                <th>Serial</th>
                                <th>Player Group</th>
                                <th>Live</th>
                                <th class="text-center" width="15%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Items != null && Model.Items.Any())
                            {
                                @foreach (var itemPlayer in Model.Items.Select((value, index) => new { index, value }))
                                {
                                    <tr>
                                        <td class="text-center">@(itemPlayer.index + 1)</td>
                                        <td>@itemPlayer.value.Name</td>
                                        <td>@itemPlayer.value.Serial</td>
                                        <td>@itemPlayer.value.PlayerGroup.Name</td>
                                        <td class="text-center">
                                            @if (itemPlayer.value.Publish != null)
                                            {
                                                <span class="badge bg-success text-white">@itemPlayer.value.Publish.PublishType</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-secondary text-white">Not Live</span>
                                            }
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-primary" onclick="editPlayer(@itemPlayer.value.Id)">
                                                <i class="fa fa-edit"></i> 
                                            </button>
                                            <button class="btn btn-danger" onclick="deletePlayer(@itemPlayer.value.Id)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6" class="text-center">No Player found</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalShow" tabindex="-1" role="dialog" aria-labelledby="modalShowLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalShowLabel">Create Player</h5>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createPlayerForm">
                    <input type="hidden" id="playerId">
                    <div class="form-group mb-3">
                        <label for="playerName"> Name</label>
                        <input type="text" class="form-control" id="playerName" placeholder="Enter Player name"
                            required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="serial">Serial</label>
                        <input type="text" class="form-control" id="serial" placeholder="Enter Serial" required>
                    </div>
                    <div class="form-group">
                        <label for="playerGroupId">Player Group</label>
                        <select class="form-control" id="playerGroupId" required>
                            @if (Model.ItemPlayerGroups != null && Model.ItemPlayerGroups.Any())
                            {
                                @foreach (var playerGroup in Model.ItemPlayerGroups)
                                {
                                    <option value="@playerGroup.Id">@playerGroup.Name</option>
                                }
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="savePlayer()">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/theme/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
    <script>
        const baseUrlApi = '@ViewData["BaseUrlApi"]';

        function deletePlayer(id) {
            deleteData(`${baseUrlApi}/Player?id=${id}`);
        }

        function showPlayer(result) {
            $('#playerName').val(result.name);
            $('#playerId').val(result.id);
            $('#serial').val(result.serial);
            $('#playerGroupId').val(result.playerGroupId).trigger('change');
            $('#modalShow').modal('show');
            $('#modalShowLabel').text('Edit Player ');
        }

        function editPlayer(playerId) {
            $.ajax({
                url: `${baseUrlApi}/Player/${playerId}`,
                type: 'GET',
                beforeSend: function () {
                    swal({
                        title: 'Please wait...',
                        text: 'Fetching Player...',
                        buttons: false,
                        closeOnClickOutside: false,
                        closeOnEsc: false
                    });
                },
                success: function (res, textStatus, xhr) {
                    if (xhr.status == 200) {
                        swal.close();
                        showPlayer(res);
                    }
                }
            });
        }

        function savePlayer() {
            let playerName = $('#playerName').val();
            let id = $('#playerId').val();
            let method = 'POST';
            let formData = new FormData();

            if (id != '') {
                formData.append("Id", id);
                method = 'PUT';
            }

            formData.append("Name", playerName);
            formData.append("Serial", $('#serial').val());
            formData.append("PlayerGroupId", $('#playerGroupId').val());

            submitFormData(formData, `${baseUrlApi}/Player`, method);
        }
    </script>
}
