@page
@model CleanArchitecture.Frontend.Pages.Template.Index

<h1>@ViewData["Title"]</h1>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Orientation</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Items != null && Model.Items.Any())
            {
                @foreach (var item in Model.Items.Select((value, index) => new { index, value }))
                {
                    <tr>
                        <td>@(item.index + 1)</td>
                        <td>@item.value.Name</td>
                        <td>@item.value.Orientation</td>
                        <td class="text-center">
                            <button class="btn btn-primary" onclick="editData(@item.value.Id)">Edit</button>
                            <button class="btn btn-danger" onclick="showData(@item.value.Id)">Show</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" class="text-center">No template found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="modalShow" tabindex="-1" role="dialog" aria-labelledby="modalShowLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalShowLabel">Edit Template</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createMediaForm">
                    <input type="hidden" id="id">
                    <div class="form-group mb-3">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter name" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveData()">Save</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        const baseUrlApi = '@ViewData["BaseUrlApi"]';

        function showData(result) {
            $('#name').val(result.name);
            $('#id').val(result.id);
            $('#modalShow').modal('show');
        }

        function editData(id) {
            $.ajax({
                url: `${baseUrlApi}/Template/${id}`,
                type: 'GET',
                beforeSend: function () {
                    swal({
                        title: 'Please wait...',
                        text: 'Fetching data...',
                        buttons: false,
                        closeOnClickOutside: false,
                        closeOnEsc: false
                    });
                },
                success: function (res, textStatus, xhr) {
                    if (xhr.status == 200) {
                        swal.close();
                        showData(res);
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error editing data:", error);
                }
            });
        }

        function saveData() {
            let name = $('#name').val();
            let id = $('#id').val();
            let formData = new FormData();

            formData.append("Name", name);
            formData.append("Id", id);

            submitFormData(formData, `${baseUrlApi}/Template`, 'PUT');
        }
    </script>
}